@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: #60b4df;
    width: 100%;
    z-index: 1000;
}
.containers{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.menu-btn{
    flex: 3;
    display: flex;
}

.menu-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

.login-btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .1rem;
    transition: .3s;
    color: #fff;
    text-transform: uppercase;
}

.login-btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
    text-decoration: none;
}

/*.login-btn.transparent:hover{
    background-color: transparent;
    color: #fff;
}*/

.menu-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.menu-link{
    position: relative;
}

.menu-link > a{
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.menu-link > a > i{
    margin-left: .2rem;
}

.menu-link:hover > a{
    transform: scale(1.1);
    text-decoration: none;
    color: #fff;
}

.menu-down{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.menu-down ul{
    position: relative;
}

.menu-down-link > a{
    display: flex;
    background-color: #6082fb;
    color: #eaf0f5;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.menu-down-link:hover > a{
    background-color: #60b4df;
    color: #fff;
    text-decoration: none;
}

.menu-down-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.menu-down-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.menu-down-link:first-child:hover ~ .arrow{
    background-color: #3498db;
}

.menu-down-link{
    position: relative;
}

/*.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}*/

.menu-link:hover > .menu-down,
.menu-down-link:hover > .menu-down{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .menu-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 50%;
        width: 100%;
        background-color: #69bde7;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .menu-btn{
        transform: translateX(0);
    }

    #check:checked ~ .menu-btn .menu-link,
    #check:checked ~ .menu-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .menu-links{
        flex: initial;
        width: 100%;
    }

    .menu-links > ul{
        flex-direction: column;
    }

    .menu-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .menu-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .menu-link:hover > a{
        transform: scale(1);
        background-color: #50a9d6;
    }

    .menu-down{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #3183ac;
        display: none;
    }
    
    .menu-link:hover > .menu-down,
    .menu-down-link:hover > .menu-down{
        display: block;
    }

    .menu-link:hover > a > i,
    .menu-down-link:hover > a > i{
        transform: rotate(1deg);
    }

    .menu-down-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

   /* .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }*/

    .menu-down-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .menu-link:hover .arrow{
        background-color: #50a9d6;
    }

    .menu-down .menu-down .arrow{
        display: none;
    }

    .menu-down-link:hover > a{
        background-color: #3a91bd;
    }

    .menu-down-link:first-child:hover ~ .arrow{
        background-color: #50a9d6;
    }

    .menu-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
        margin-right: 75%;
    }

    .menu-down i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 3.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

.tab {
  overflow: hidden;
  border: 1px solid red;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
/*.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border:none;
}
.tab .tablinks:focus{
    outline: none!important;
}


.tab .tablinks:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 300px;
}*/
 .category-image{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-origin: border-box;
        }

.category-know-more{
    color: #69bde7;
    border:1px solid #69bde7;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.category-know-more:hover{
    text-decoration: none;
    color: #fff;
    background-color:#69bde7;
    border-radius: 0px; 
}
.owl-prev,
.owl-next {
  position: absolute;
  top: -40%;
  transform: translateY(-100%);


}
.owl-next:focus ,.owl-prev:focus{
    outline: none !important;

}

.fas.fa-caret-right, .fas.fa-caret-left{
    color: #60b4df;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 0px 1px 1px #e6e2e2;}
 .owl-theme .owl-nav [class*='owl-']:hover{
    background: #ffffff;

    text-decoration: none;

 }
 .owl-carousel .item{
    background-color: transparent;
    border: none;
    color: #60b4df;
 }
 .owl-carousel .item:hover{
    color: #da35cd;
 }

.owl-prev {

  right: 3rem;
}

.owl-next {

  right: 0rem;
}
.tabcontent {
  display: none;
  padding:5px;
  border-radius: 5px;
  box-shadow: 0 0 1.5px 1.5px #ebeef1;
  box-sizing: border-box;
 
}
.tab button.active {
padding-bottom: 10px;
  border-bottom: 2px solid #60b4df;

}
.tab button:focus{
    outline: none !important;
}
.tab{

    margin-bottom: 5px;
    padding: 5px;
   
}